.Div-Foto{
     text-align: center;
}
.Aside-Foto{
     border: 0.5px solid red;
     width: 200px;
     height: 200px;
     overflow: hidden;
     border-radius: 50%;
}
.Aside-Foto .Foto{
     width: 100%;
     height: 100%;
     filter: grayscale(1); /*Mudar a cor pra preto e branco*/
     transition: .4s;
}
.Aside:hover img{
     filter: none;
     scale: 1.3;
}